{{ post.fields.caption|linebreaks }}
{% if post.fields.snippets %}
    <dl>
        {% for snippet in post.fields.snippets %}
            <dt>{{ snippet.name }}</dt>
            <dd><pre data-language="{{ snippet.language }}">{{ snippet.code }}</pre></dd>
        {% endfor %}
    </dl>
{% endif %}

{% block rainbowjs_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}tumblelog/rainbow/rainbow.css" />
{% endblock rainbowjs_css %}

{% block rainbowjs_js %}
    <script src="{{ STATIC_URL }}tumblelog/rainbow/rainbow.js" type="text/javascript" async defer></script>
{% endblock rainbowjs_js %}