{% extends "admin/change_form.html" %}

{% block after_related_objects %}
    {% if change and original %}
        <fieldset class="module aligned collapse">

            <h2>Preview</h2>

            {% if original.rdio_title %}
                <div class="form-row">
                    <div>
                        <label>Rdio Title:</label>
                        <p>{{ original.rdio_title }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.thumbnail_width and original.thumbnail_height %}
                <div class="form-row">
                    <div>
                        <label>Thumbnail Dimensions:</label>
                        <p>{{ original.thumbnail_width }} x {{ original.thumbnail_height }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.thumbnail_url %}
                <div class="form-row">
                    <div>
                        <label>Thumbnail:</label>
                        <p><img src="{{ original.thumbnail_url }}" width="{{ original.thumbnail_width }}" height="{{ original.thumbnail_height }}" /></p>
                    </div>
                </div>
            {% endif %}

            {% if original.width and original.height %}
                <div class="form-row">
                    <div>
                        <label>Embed Dimensions:</label>
                        <p>{{ original.width }} x {{ original.height }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.embed %}
                <div class="form-row">
                    <div>
                        <label>Embed:</label>
                        {{ original.embed|safe }}
                    </div>
                </div>
            {% endif %}

        </fieldset>
    {% endif %}
{% endblock %}
