{% extends "admin/change_form.html" %}

{% block after_related_objects %}
    {% if change and original %}
        <fieldset class="module aligned collapse">

            <h2>Preview</h2>

            {% if original.flickr_title %}
                <div class="form-row">
                    <div>
                        <label>Flickr Title:</label>
                        <p>{{ original.flickr_title }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.twitter_user %}
                <div class="form-row">
                    <div>
                        <label>Twitterer:</label>
                        <p>{{ original.twitter_user }} {% if original.twitter_username %}(@{{ original.twitter_username }}){% endif %}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.twitter_user_url %}
                <div class="form-row">
                    <div>
                        <label>Twitterer&#39;s timeline:</label>
                        <p><a href="{{ original.twitter_user_url }}">{{ original.twitter_user_url }}</a></p>
                    </div>
                </div>
            {% endif %}

            {% if original.width and original.height %}
                <div class="form-row">
                    <div>
                        <label>Dimensions:</label>
                        <p>{{ original.width }} x {{ original.height }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.embed %}
                <div class="form-row tweet">
                    <style type="text/css">
                        .tweet label{
                            float: left;
                        }
                        .tweet .twitter-tweet-rendered{
                            float: left;
                            clear: none !important;
                        }
                    </style>
                    <div>
                        <label>Embed:</label>
                        {{ original.embed|safe }}
                    </div>
                </div>
            {% endif %}

        </fieldset>
    {% endif %}
{% endblock %}
