{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        // Move the CodeSnippet inline to a more logical place
        (function($){
            $(function(){
                var $snippets = $('#codesnippet_set-group');
                $snippets.insertAfter($snippets.siblings('fieldset:first'));
            });
        })(django.jQuery);
    </script>
    <style type="text/css" media="screen">
        #codesnippet_set-group .vLargeTextField{
            font-family: monospace;
            font-size: 13px;
        }
    </style>
{% endblock %}
