{% load i18n %}

{% if page_obj.has_previous or page_obj.has_next %}
    <footer>
        <nav>
            {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number == 1 %}
                    <a href=".">{% trans 'Previous Page' %}</a>
                {% else %}
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous Page' %}</a>
                {% endif %}
            {% endif %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans 'Next Page' %}</a>
            {% endif %}
        </nav>
    </footer>
{% endif %}