{% extends "tumblelog/base.html" %}

{% load i18n %}

{% block main %}
    
    {% if posts %}
        {% for post in posts %}
            {% include 'tumblelog/post.html' %}
        {% endfor %}
    {% else %}
        {% blocktrans %}
            <p>There are no public posts. Get writing! This blog won't author itself. That functionality is coming in v2.0.</p>
        {% endblocktrans %}
    {% endif %}

{% endblock main %}

{% block footer %}
    {% include 'tumblelog/pagination.html' %}
{% endblock footer %}