{% extends "admin/change_form.html" %}

{% block after_related_objects %}
    {% if change and original %}
        <fieldset class="module aligned collapse">

            <h2>Preview</h2>

            {% if original.gist_title %}
                <div class="form-row">
                    <div>
                        <label>Gist Title:</label>
                        <p>{{ original.gist_title }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.git_user %}
                <div class="form-row">
                    <div>
                        <label>Author:</label>
                        <p>{{ original.git_user }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.git_user_url %}
                <div class="form-row">
                    <div>
                        <label>Author's GitHub Profile:</label>
                        <p><a href="{{ original.git_user_url }}">{{ original.git_user_url }}</a></p>
                    </div>
                </div>
            {% endif %}

            {% if original.width and original.height %}
                <div class="form-row">
                    <div>
                        <label>Dimensions:</label>
                        <p>{{ original.width }} x {{ original.height }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.embed %}
                <style type="text/css">
                    .data.syntax{
                        max-width: 600px;
                        overflow: auto;
                    }
                    .data.syntax td{
                        border: 0;
                    }
                </style>
                <div class="form-row">
                    <div>
                        <label>Embed:</label>
                        {{ original.embed|safe }}
                    </div>
                </div>
            {% endif %}

            {% if original.gist_id %}
                <style type="text/css">
                    .gist{
                        padding-left: 105px;
                        max-width: 600px;
                    }
                </style>
                <div class="form-row">
                    <div>
                        <label>JavaScript Embed:</label>
                        {{ original.javascript_embed|safe }}
                    </div>
                </div>
            {% endif %}

        </fieldset>
    {% endif %}
{% endblock %}
