{% extends "admin/change_form.html" %}

{% block after_related_objects %}
    {% if change and original %}
        <fieldset class="module aligned collapse">

            <h2>Preview</h2>

            {% if original.instagram_title %}
                <div class="form-row">
                    <div>
                        <label>Instagram Title:</label>
                        <p>{{ original.instagram_title }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.instagram_user %}
                <div class="form-row">
                    <div>
                        <label>Photographer:</label>
                        <p>{{ original.instagram_user }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.width and original.height %}
                <div class="form-row">
                    <div>
                        <label>Dimensions:</label>
                        <p>{{ original.width }} x {{ original.height }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.image_url %}
                <div class="form-row">
                    <div>
                        <label>Photo:</label>
                        <p><img src="{{ original.image_url }}" width="{{ original.width }}" height="{{ original.height }}" /></p>
                    </div>
                </div>
            {% endif %}

        </fieldset>
    {% endif %}
{% endblock %}
