{% extends "admin/change_form.html" %}

{% block after_related_objects %}
    {% if change and original %}
        <fieldset class="module aligned collapse">

            <h2>Preview</h2>

            {% if original.soundcloud_title %}
                <div class="form-row">
                    <div>
                        <label>Soundcloud Title:</label>
                        <p>{{ original.soundcloud_title }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.soundcloud_description %}
                <div class="form-row">
                    <div>
                        <label>SoundCloud Description:</label>
                        <p>{{ original.soundcloud_description|safe }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.width and original.height %}
                <div class="form-row">
                    <div>
                        <label>Embed Dimensions:</label>
                        <p>{{ original.width }} x {{ original.height }}</p>
                    </div>
                </div>
            {% endif %}

            {% if original.embed %}
                <div class="form-row">
                    <div>
                        <label>Embed:</label>
                        {{ original.embed|safe }}
                    </div>
                </div>
            {% endif %}

        </fieldset>
    {% endif %}
{% endblock %}
